<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Data Science Salaries</title>
</head>

<body>
    <div class="top">
        <p>1st Monthly Project</p>
        <p></p>
        <h2>Data Science Salaries</h2>
    </div>
    <div class="menu-wrapper">
        <div class="menu">
            <a href="/">Home</a>
            <a href="/analysis">Analysis</a>
            <a href="/conclusion">Conclusion</a>
            <a href="/predict">Predict Model</a>
        </div>
    </div>
    <div class="hdtext-container"
        style="font-size: 36px; margin-top: 24px; margin-right: 24px; margin-left: 24px; display: flex; justify-content: center; font-family: Times New Roman;">
        <p>7가지 결론</p>
    </div>
    <div class="text-container"
        style="font-size: 24px; margin-top: 24px; margin-right: 24px; margin-left: 24px; display: flex; justify-content: center; font-family: Times New Roman;">
        1. 아시아의 데이터 분야 연봉 평균 500000$, 한화 : 6700만원<br><br>
        2. 특정년도(2020~2023)에서 Salary가 전반적으로 증가하는 추이<br><br>
        3. all 재택인 직장도 재택 없는 직장부럽지 않는 연봉을 수령<br><br>
        4. 정규직 > 계약직 > 프리랜서 > 아르바이트<br><br>
        5. Junior 평균 78546$, Asia에서 Junior연봉 평균 40000$, 한화 약 5000만원<br><br>
        6. 'US'(미국) > 'CA'(캐나다) > 'GB'(영국) > 기타 > 'ES'(스페인) > 'IN'(인도)<br><br>
        7. 회사 size : M > L > S</p>
    </div>
</body>

</html>