<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>월급 추세</title>
</head>
<body>
    <div class="my-div">
        <p>
            {{ graph_html_list[0] | safe }}
            {{ graph_html_list[1] | safe }}
            {{ graph_html_list[2] | safe }}
            {{ graph_html_list[3] | safe }}
            {{ graph_html_list[4] | safe }}
            {{ graph_html_list[5] | safe }}
            {{ graph_html_list[6] | safe }}
            {{ graph_html_list[7] | safe }}
            {{ graph_html_list[8] | safe }}
            {{ graph_html_list[9] | safe }}
            {{ graph_html_list[10] | safe }}
        </p>
    </div>
    <p>
        # 결론
- 아시아의 데이터 분야 연봉 평균 500000$ $\to$ 한화 : 6700만원
- 특정년도(2020~2023)에서 Salary가 전반적으로 증가하는 추이
- all 재택인 직장도 재택 없는 직장부럽지 않는 연봉을 수령

- 연봉 

    - 정규직 > 계약직 > 프리랜서 > 아르바이트
    - Junior 평균 78546$, Asia에서 Junior연봉 평균 40000$, 한화 약 5000만원
    - 'US'(미국) > 'CA'(캐나다) > 'GB'(영국) > 기타 > 'ES'(스페인) > 'IN'(인도)
    - 회사 size : M > L > S
    </p>

</body>
</html>